[Desktop Entry]
Actions=create-systemd-service;remove-systemd-service;reset-password
Version=1.0
Terminal=false
Type=Application
Name=v2rayA-flatpak
Categories=Network;
Keywords=Internet;VPN;Proxy;v2ray;v2raya
Exec=run-v2raya.sh
Icon=io.github.glaumar.v2raya_flatpak

[Desktop Action create-systemd-service]
Name=Create v2raya-flatpak Service (Setup Autostart)
Exec=create-v2raya-service.sh
Icon=io.github.glaumar.v2raya_flatpak

[Desktop Action remove-systemd-service]
Name=Remove v2raya-flatpak Service
Exec=remove-v2raya-service.sh
Icon=io.github.glaumar.v2raya_flatpak

[Desktop Action reset-password]
Name=Reset password
Exec=reset-password.sh
Icon=io.github.glaumar.v2raya_flatpak